/* Background */
.background {
    /* position: fixed; */
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-size: cover;

}

/* Navigation */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-part1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-part2 {
    display: flex;
    align-items: center;
}

.icon {
    width: auto;
    height: 60px;
    margin: .8rem;
}

.coin {
    width: 2rem;
    height: 2rem;
}

.coin-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid #4F4F4F; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    height: 2.5rem;
    width: 100%;
    padding: 0 1rem;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.03em;
    background: white;
    margin: 0.8rem;
}

.light-div {
    color: white;
    border: 1px solid #c4c4c4;
}

/* Tasklist */
.content-containers {
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
}

.tasklist-container {
    margin-top: 2rem;
}

/* Avatar and Speech Bubble */
.img-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 8%;
    left: calc(50vw - (/* width */140px / 2)); 
}

.speech-bubble {
    position: relative;
    max-width: 30em;
    background-color: #fff;
    padding: 1.125em 1.5em;
    font-size: 1.25em;
    border-radius: 1rem;
}

.speech-bubble::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 100%;
    left: 1.5em;
    border: 0.75rem solid transparent;
    border-bottom: none;
    border-top-color: #fff;
}

.curr-avatar {
    width: 12rem;
    height: auto;
}

/* Animations */
.animations {
    align-self: flex-start;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: right;

}

.bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: linear;
}

@keyframes bounce-1 {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-30px);
    }

    100% {
        transform: translateX(0);
    }
}

.vert-move {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-5px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-5px);
    }
}