/* Background */
.background {
    z-index: -1;
}

.whole-background {
    position: relative;
    z-index: -2;
}

.background, .whole-background {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: bottom;
    height: 100vh;
}

/* Navigation */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-part1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-part2 {
    display: flex;
    align-items: center;
}

.icon {
    width: auto;
    height: 60px;
    margin: .8rem;
}

.coin {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.coin-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid #4F4F4F; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    height: 2.5rem;
    width: 100%;
    padding: 0 1rem;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.03em;
    background: white;
    margin: 0.8rem;
}

.light-div {
    color: white;
    border: 1px solid #c4c4c4;
}

/* Tasklist */
.content-containers {
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
}

.tasklist-container {
    margin-top: 2rem;
}

#view-task {
    width: 160px;
    padding: 0px;
    margin-top: 0px;
    border-radius: 0 20px 20px 0px;
    position: relative;
    top: 20px;
}

#view-task .header-container {
    padding: 10px 23px;
}

#view-task .task-header {
    font-size: 20px;
    padding: 0px;
}

#view-task p.task-header {
    margin: 0px;
}

.tasklist-container {
    padding: 0px;
    margin-top: 0px;
    position: relative;
    top: 20px;
}

.task-container, .add-habit-btn {
    width: 90%;
}

.header-container {
    padding-top: 10px;
}

.tasks {
    padding-bottom: 18px;
}

/* Avatar and Speech Bubble */
.img-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 8%;
    left: calc(50vw - (/* width */140px / 2)); 
}

.speech-bubble {
    position: relative;
    max-width: 30em;
    background-color: #fff;
    padding: 1.125em 1.5em;
    font-size: 1.25em;
    border-radius: 1rem;
}

.speech-bubble::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 100%;
    left: 1.5em;
    border: 0.75rem solid transparent;
    border-bottom: none;
    border-top-color: #fff;
}

.curr-avatar {
    width: 12rem;
    height: auto;
}

/* Animations */
.animations {
    align-self: flex-start;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: right;

}

.bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: linear;
}

@keyframes bounce-1 {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-30px);
    }

    100% {
        transform: translateX(0);
    }
}

.vert-move {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-5px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-5px);
    }
}

/* Media Queries */
@media screen and (max-width: 838px) {
    #xp-bar {
        width: 140px;
    }

    .level {
        font-size: 13px;
    }

    .icon {
       height: 50px;
    }

    .coin-div {
        font-size: 16px
    }

    .tasklist-container {
        width: 20rem;
    }

    .task-header {
        font-size: 1.3rem
    }

    .task-container {
        height: 5rem;
    }

    .task-container p, .add-habit-btn {
        font-size: 14px;
    }

    .hover-options .btn {
        font-size: 13px;
        margin: 0px;
    }

    .dropdown-item {
        font-size: 13px;
    }

    #view-task {
        width: 150px;
        padding: 0px;
        margin-top: 0px;
        border-radius: 0 20px 20px 0px;
        position: relative;
        top: 20px;
    }
    
    #view-task .header-container {
        padding: 10px 20px;
    }

    #view-task .task-header {
        font-size: 18px;
        padding: 0px;
    }

    #view-task p.task-header {
        margin: 0px;
    }

    .tasklist-container {
        padding: 0px;
        margin-top: 0px;
        position: relative;
        top: 20px;
    }

    /* .task-container, .add-habit-btn {
        width: 90%;
    }

    .header-container {
        padding-top: 10px;
    }

    .tasks {
        padding-bottom: 18px;
    } */
}


@media screen and (min-width: 1500px) {
    .img-container {
        bottom: 8.5%;
    }
}

@media screen and (min-width: 1600px) {
    .img-container {
        bottom: 9%;
    }
}

@media screen and (min-width: 1700px) {
    .img-container {
        bottom: 10%;
    }
}

@media screen and (max-width: 628px) {
    #xp-bar {
        width: 140px;
    }

    .level {
        font-size: 13px;
    }

    .icon {
       height: 40px;
    }

    .coin-div {
        font-size: 13px;
        padding: 0px 10px;
    }

    .coin-div div {
        padding-right: 5px;
    }

    .coin-div .coin {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    .coin-label {
        display: none;
    }

    .icon, .coin-div {
        margin: 5px;
    }

    nav {
        margin-top: 0px;
    }

    .nav-part2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .nav-part2 .xp-bar-container{
        order: 1;
        padding-top: 15px;
    }

    .navbar {
        align-items: flex-start;
    }

    .xp-bar-container {
        margin: 5px;
    }

    #view-task {
        width: 140px;
        padding: 0px;
        margin-top: 0px;
        border-radius: 0 20px 20px 0px;
        position: relative;
        top: -52px;
    }
    
    #view-task .header-container {
        padding: 10px 18px;
    }

    #view-task .task-header {
        font-size: 16px;
        padding: 0px;
    }

    #view-task p.task-header {
        margin: 0px;
    }

    .tasklist-container {
        width: 100%;
        padding: 0px;
        margin-top: 0px;
        position: relative;
        top: -52px;
    }

    .content-containers {
        margin-right: 0;
    }

    /* .task-container, .add-habit-btn {
        width: 90%;
    }

    .header-container {
        padding-top: 10px;
    }

    .tasks {
        padding-bottom: 18px;
    } */
}
