/* General Styles */
.landing-2,
.landing-4 {
    background-color: #094C59;
    color: white;
}

/* Landing 1 */
.landing-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.landing-1 div {
    width: 55%;
    padding-bottom: 2rem;
}

.mid-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing-1 h1 {
    font-weight: bold;
    font-size: 85px;
    line-height: 117px;
    letter-spacing: 0.05em;
    color: #094C59;
    padding-top: 5rem;
    padding-bottom: .5rem;
}

.landing-1 p {
    font-weight: 600;
    font-size: 35px;
    line-height: 44px;
    letter-spacing: 0.03em;
    color: #4F4F4F;
    padding-bottom: 3rem;
}

/* 
.google-button {
    width: 22rem;
    align-self: center;
    border: 1px solid white;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: .5rem .8rem;
}

.google-button img {
    width: 3rem;
    height: auto;
}

.google-button p {
    font-size: 1.2rem;
    line-height: 29px;
    letter-spacing: 0.03em;
    color: #4F4F4F;
    margin-bottom: 0;
} */

.landing-1 button {
    background: #094C59;
    border-style: none;
    border-radius: 20px;
    padding: 10px 30px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 15px;
    line-height: 29px;
    letter-spacing: 0.085em;
    margin-left: auto;
    margin-right: auto;
}

.landing-1 img {
    width: 30px;
    height: auto;
}

/* Credit: https://codepen.io/bisaillonyannick/pen/pvZeGg */
.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

/* Landing 2 */
.landing-2 {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
}

.landing-2 div {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 10rem 0;
}

.landing-2 h1 {
    font-weight: bold;
    font-size: 45px;
    line-height: 59px;
    letter-spacing: 0.05em;
    padding-bottom: 1.5rem;
}

.landing-2 p {
    font-size: 1.5rem;
    line-height: 38px;
    letter-spacing: 0.03em;
    padding-bottom: 1rem;
}

/* Landing 3 */
.landing-3 {
    position: relative;
}

.landing-3 .content {
    text-align: center;
    padding: 8rem 0;
}

.landing-3 .landing-container {
    display: flex;
    justify-content: center;
    padding: 5rem;
}

.landing-3 .landing-container img {
    width: 11rem;
    height: 10rem;
    margin: 0 3rem;
}

.landing-3 h1 {
    font-weight: bold;
    font-size: 45px;
    line-height: 59px;
    letter-spacing: 0.05em;
    padding-bottom: 2rem;
    color: #094C59;
}

.landing-3 h2 {
    font-weight: 600;
    font-size: 35px;
    line-height: 44px;
    letter-spacing: 0.05em;
    color: #094C59;
}

.landing-3 p {
    font-size: 22px;
    line-height: 29px;
    letter-spacing: 0.03em;
}

.landing-container div {
    max-width: 800px;
}

.landing-3 img {
    width: auto;
    height: 2rem;
}

.landing-3 .button {
    background: none;
    border: none;
    font-weight: bold;
    font-size: 27px;
    line-height: 44px;
    letter-spacing: 0.085em;
    color: #094C59;
    position: absolute;
    right: 40px;
}

/* Landing 4 */
.landing-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
}

.landing-4 p {
    padding: 1.5rem;
    font-size: 16px;
    margin: 0;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .landing-1 div {
        width: 70%;
    }

    .landing-1 h1 {
        font-size: 70px;
        line-height: 117px;
        letter-spacing: 0.05em;
        color: #094C59;
        padding-bottom: 0rem;
        padding-top: 2rem;
    }

    .landing-1 p {
        font-weight: 600;
        font-size: 30px;
        line-height: 35px;
        letter-spacing: 0.03em;
        color: #4F4F4F;
        padding-bottom: 2.5rem;
    }

    .landing-1 button {
        padding: 8px 32px;
    }

    .landing-1 button a {
        font-size: 14px;
        line-height: 29px;
        letter-spacing: 0.085em;
    }

    .landing-1 img {
        display: none;
    }

    .landing-2 h1 {
        font-size: 40px;
    }

    .landing-2 p {
        font-size: 20px;
    }

    .landing-3 h1 {
        font-size: 40px;
    }

    .landing-3 h2 {
        font-size: 30px;
    }

    .landing-3 p { 
        font-size: 18px;
    }

    .landing-3 .button {
        font-size: 23px;
    }

    .landing-4 p {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .landing-1 div {
        width: 80%;
    }

    .landing-1 h1 {
        font-size: 55px;
        line-height: 110px;
        letter-spacing: 0.05em;
        color: #094C59;
    }

    .landing-1 p {
        font-weight: 600;
        font-size: 22px;
        line-height: 32px;
        letter-spacing: 0.03em;
        color: #4F4F4F;
    }

    .landing-1 button {
        padding: 6px 24px;
    }

    .landing-1 button a {
        font-size: 12px;
        line-height: 29px;
        letter-spacing: 0.085em;
    }

    .landing-1 img {
        display: none;
    }

    .landing-2 h1 {
        font-size: 35px;
    }

    .landing-2 p {
        font-size: 16px;
    }

    .landing-3 h1 {
        font-size: 35px;
    }

    .landing-3 h2 {
        font-size: 25px;
        line-height: 35px;
        margin-top: 1rem;
    }

    .landing-3 .content {
        padding: 4rem 0;
    }
    
    .landing-3 .landing-container img {
        margin-bottom: 1rem;
    }

    .landing-3 .landing-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }

    .landing-3 .button {
        font-size: 20px;
        display: block;
        position: static;
        margin: 0 auto;
        display: block;
    }

    .landing-order div {
        order: 1
    }

    .landing-4 p {
        font-size: 12px;
    }

    .landing-4 {
        margin-top: 3.5rem;
    }
}