.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    z-index: 0;
  }
  
  .nav-link {
    color: white;
    z-index: 0;
  }

  .header-name {
      font-weight: 700;
      font-size: 1.5rem;
      position: fixed;
      top: 0;
      left: 0;
      margin-left: 2rem;
  }

  img {
    width: 3.5rem;
    height: auto;
  }

  .modal-header {
    align-items: center;
  }
  
  .modal-title {
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 0.03em;
    color: #4F4F4F;
  }
  
  .modal-header .close {
    margin: 0;
  }
  
  .content-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  @media (min-width: 576px) {
  .modal-dialog {
      max-width: 70%;
      margin: 1.75rem auto;
  }
  }