.an-avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #A9E3EB;
    border-radius: 10px;
    margin: 2rem;
    padding: 2rem 0rem 2rem 0rem;
}

.button-container {
    padding-left: 5rem;
    padding-top: 5rem;
}

.bg-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    margin: 2rem;
    padding: 2rem 0rem 2rem 0rem;
}

.avatar-img {
    height: 10rem;
    width: auto;
    margin-bottom: 1rem;
}

.bg-img {
    height: 15rem;
    border-radius: 10px;
    width: auto;
    z-index: 0;
}

.selected {
    width: 50%;
}

.still-locked p, .still-locked button, .still-locked img {
    visibility: hidden;
}

.still-locked {
    background-color: grey;
}

.bg-selected {
    position: relative;
    z-index: 1;
}